<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee http://xmlns.jcp.org/xml/ns/javaee" version="6.0">
  <display-name>tarea2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Registro</display-name>
    <servlet-name>registro</servlet-name>
    <servlet-class>controllers.registro</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ConsultaPaquete</display-name>
    <servlet-name>ConsultaPaquete</servlet-name>
    <servlet-class>controllers.ConsultaPaquete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsultaPaquete</servlet-name>
    <url-pattern>/ConsultaPaquete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Postulante</display-name>
    <servlet-name>Postulante</servlet-name>
    <servlet-class>controllers.Postulante</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Postulante</servlet-name>
    <url-pattern>/Postulante</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Visitante</display-name>
    <servlet-name>Visitante</servlet-name>
    <servlet-class>controllers.Visitante</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Visitante</servlet-name>
    <url-pattern>/Visitante</url-pattern>
  </servlet-mapping>
  <description></description>
  <display-name>MiUsuario</display-name>
  <servlet>
    <description></description>
    <display-name>Empresa</display-name>
    <servlet-name>Empresa</servlet-name>
    <servlet-class>controllers.Empresa</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Empresa</servlet-name>
    <url-pattern>/Empresa</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MiUsuario</display-name>
    <servlet-name>MiUsuario</servlet-name>
    <servlet-class>controllers.MiUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MiUsuario</servlet-name>
    <url-pattern>/MiUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConsultaUsuario</display-name>
    <servlet-name>ConsultaUsuario</servlet-name>
    <servlet-class>controllers.ConsultaUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsultaUsuario</servlet-name>
    <url-pattern>/ConsultaUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MostrarUsuario</display-name>
    <servlet-name>MostrarUsuario</servlet-name>
    <servlet-class>controllers.MostrarUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MostrarUsuario</servlet-name>
    <url-pattern>/MostrarUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConsultaTipos</display-name>
    <servlet-name>ConsultaTipos</servlet-name>
    <servlet-class>controllers.ConsultaTipos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsultaTipos</servlet-name>
    <url-pattern>/ConsultaTipos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MostrarTipo</display-name>
    <servlet-name>MostrarTipo</servlet-name>
    <servlet-class>controllers.MostrarTipo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MostrarTipo</servlet-name>
    <url-pattern>/MostrarTipo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConsultaOferta</display-name>
    <servlet-name>ConsultaOferta</servlet-name>
    <servlet-class>controllers.ConsultaOferta</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsultaOferta</servlet-name>
    <url-pattern>/ConsultaOferta</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConsultaPostulacionAOferta</display-name>
    <servlet-name>ConsultaPostulacionAOferta</servlet-name>
    <servlet-class>controllers.ConsultaPostulacionAOferta</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsultaPostulacionAOferta</servlet-name>
    <url-pattern>/ConsultaPostulacionAOferta</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostularAOferta</display-name>
    <servlet-name>PostularAOferta</servlet-name>
    <servlet-class>controllers.PostularAOferta</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostularAOferta</servlet-name>
    <url-pattern>/PostularAOferta</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MostrarOfertasAPostular</display-name>
    <servlet-name>MostrarOfertasAPostular</servlet-name>
    <servlet-class>controllers.MostrarOfertasAPostular</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MostrarOfertasAPostular</servlet-name>
    <url-pattern>/MostrarOfertasAPostular</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfirmarPostulacion</display-name>
    <servlet-name>ConfirmarPostulacion</servlet-name>
    <servlet-class>controllers.ConfirmarPostulacion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmarPostulacion</servlet-name>
    <url-pattern>/ConfirmarPostulacion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AltaOfertaLaboral</display-name>
    <servlet-name>AltaOfertaLaboral</servlet-name>
    <servlet-class>controllers.AltaOfertaLaboral</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AltaOfertaLaboral</servlet-name>
    <url-pattern>/AltaOfertaLaboral</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MostrarPostulaciones</display-name>
    <servlet-name>MostrarPostulaciones</servlet-name>
    <servlet-class>controllers.MostrarPostulaciones</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MostrarPostulaciones</servlet-name>
    <url-pattern>/MostrarPostulaciones</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModificarDatosUsuario</display-name>
    <servlet-name>ModificarDatosUsuario</servlet-name>
    <servlet-class>controllers.ModificarDatosUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModificarDatosUsuario</servlet-name>
    <url-pattern>/ModificarDatosUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModificarContraseña</display-name>
    <servlet-name>ModificarContraseña</servlet-name>
    <servlet-class>controllers.ModificarContraseña</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModificarContraseña</servlet-name>
    <url-pattern>/ModificarContraseña</url-pattern>
  </servlet-mapping>
</web-app>